/*-- CSS file from ci projects --*/

p{
    color: black;
}

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}
.card-img-top{
    height:250px;
    width: 95%;
}
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #ce840d;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-link:hover,
.page-link {
    color: maroon;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

/*--- Footer Styling ---*/
footer > p, h3{
    color: #fff;
}

.disclaimer{
    padding-top: 15px;
    color: #fff;
    margin-left: 30px;
    font-weight: lighter;
}

.contact{
    color: #fff;
    margin-left: 25%; 
}

.link{
    color: #fff;
}

.sm-link{
    margin-left: 30%; 
    text-decoration: none;
    list-style: none;
}

a{
    color:white;
    text-decoration: none
}

li .nav_item{
    color: white;
}