{% extends 'base.html' %}

{% block title %}Sign Up!{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
    <br/><br/>
        <h1>Sign Up!</h1>
                <div class="form-group">
                    <form method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn btn-dark">Sign Up!</button>
                    <br/><br/>
                </div> 
            <br/>
</div> 
</div>
{% endblock %}