body {
    background-color: white;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
}

.card-img-top{
    width: 100%;
    height: 300px;
}

.image-container {
    position: relative;
}

.image-flash {
    min-width: 30%;
    left: -2px;
    background-color: maroon;
}

.author {
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover{
    color: grey;
}

.post-title {
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: maroon;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.card-title{
    text-decoration: none;
    color: black;
}

.footer{
    color: white;
}

.footer-link{
    text-decoration: none;
    color: white;
    list-style: none;
}

#contact{
    padding-left: 180px;
}

/* Blog post content */
.button{
    padding-left: 3%;
}
