{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Boostrapious Contact Page Code (link in readme )-->
<div class ="container">
  <br/><br/>
  <h1 class="contact">Contact</h1>
  <div class="row">
        <p class="lead my-4"><strong>We are happy to take Feedback and Thoughts/Opinions onboard. Contact us Today!</strong></p>
        <div class="row">
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12 col-md-6 mb-4">
                <div class="icon mb-4"></div>
                <h5 class="lined mb-4"><i class="far fa-map mr-2"></i>  Address</h5>
                <p class="text-muted mb-0 text-small">Letterkenny Courthouse</p>
                <p class="text-muted mb-0 text-small">High Rd, Letterkenny</p>
                <p class="text-muted mb-0 text-small">Co.Donegal <strong>Ireland </strong></p>
              </div>
              <div class="col-lg-12 col-md-6 mb-4">
                <h5 class="lined mb-4"><i class="fa-solid fa-phone"></i> Call Us</h5>
                <p class="text-muted mb-3 text-small">This number is automatically directed to Donegal Daily, as we are in part-owned by them</p>
                <p class="text-muted font-weight-bold">+353 087 164 1160</p>
              </div>
            </div>
          </div>
          <div class="col-lg-7 ml-auto">
            <div class="col-lg-12 col-md-6 mb-4">
              <div class="icon mb-4"></i></div>
              <h5 class="lined mb-4">Contact form</h5>
              <!-- Start of Contact Form -->
              <form id="contact-form" method="post" action="{% url 'contact' %}" class="contact-form form">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-lg-6">
                    <label for="name" class="font-weight-normal">Firstname</label>
                    <input id="name" type="text" name="name" class="form-control" placeholder="Your First Name">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="surname" class="font-weight-normal">Lastname </label>
                    <input id="surname" type="text" name="surname" class="form-control" placeholder="Your Last Name">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="email" class="font-weight-normal">Email</label>
                    <input id="email" type="email" name="email" class="form-control" placeholder="Your Email">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="subject" class="font-weight-normal">Subject</label>
                    <input id="subject" type="text" name="subject" class="form-control" placeholder="Your Subject Matter">
                  </div>
                  <div class="form-group col-lg-12">
                    <label for="message" class="font-weight-normal">Message</label>
                    <textarea id="message" rows="4" name="message" class="form-control" placeholder="Your Message"></textarea>
                  </div>
                  <div id="send" class="form-group col-lg-12">
                    <br/><br/>
                    <button type="submit" class="btn btn-dark"> <i class="far fa-envelope mr-2"> </i> Send message</button>
                  </div>
                </div>
              </form>
              <!-- End of Contact Form -->
              <br/><br/><br/>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div> 
</div> 
<!-- End of Boptstrapious Code-->
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}