{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item landscape active">
      <img src="static/img/slider1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-white"><strong>This Week in the Courts</strong></h5>
      </div>
    </div>
    <div class="carousel-item landscape">
      <img src="static/img/slider2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item landscape">
      <img src="static/img/slider3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br/>
<!-- End of Slider -->
<div class="intro-block">
<div class="intro bg-dark">
  <p class="text-center text-white"> <strong>Donegal Courts Strive to keep you up to date with the latest news from the Letterkenny Courts.</strong></p>
  <p class="text-center text-white"> Read the latest stories below    <i class="fa-solid fa-arrow-down"></i></i></p>
</div>
</div>
<div class="col-12 mt-3 left">
       <div class="row">
         {% for post in post_list %}
         <div class="col-md-4">
           <div class="card mb-4">
             <div class="card-body">
               <div class="image-container">
                 <img class="card-img-top" src="{{ post.featured_image.url }}">
                 <div class="image-flash">
                   <p class="author"><strong>Author: {{ post.author }}</strong> | {{ post.post_date}}</p>
                 </div>
                 <hr/>
                 <a href="{% url 'post-detail' post.pk %}" class="post-link">
                 <h2 class="card-title">{{ post.title }}</h2>
               </a>
               </div>
             </div>
           </div>
         </div>
         {% if forloop.counter|divisibleby:6 %}
       </div>
       <div class="row">
         {% endif %}
         {% endfor %}
       </div>
     </div>
{% endblock %}
