{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Slider -->
<div id="carouselExampleIndicators" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item landscape active">
      <img src="static/img/slider1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item landscape">
      <img src="static/img/slider2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item landscape">
      <img src="static/img/slider3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- End of Slider -->
<div class="intro-block">
<div class="intro bg-dark">
  <p class="text-center text-white"> <strong>Donegal Courts Strive to keep you up to date with the latest news from the Letterkenny Courts.</strong></p>
  <p class="text-center text-white"> Read the latest stories below    <i class="fa-solid fa-arrow-down"></i></i></p>
</div>
</div>
<br/>
<div class="container">
  <div class="row">
         {% for post in post_list %} 
<!-- New Idea for Boostrap Card -->
    <br/>
     <div class="card mb-3" style="max-width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ post.featured_image.url }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <br/><br/>
            <a href="{% url 'post-detail' post.pk %}" class="post-link">
            <h5 class="card-title">{{ post.title }}</h5></a>
            <p class="card-text">{{post.snippet}}</p>
            <p class="card-text"><small class="text-muted"><strong>{{ post.author }}</strong> | {{ post.post_date}}</small></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  {% if forloop.counter|divisibleby:6 %}
</div>
<div class="row">
  {% endif %}
  {% endfor %}
</div>
</div>
</div>
</div>
     <!-- End Idea for Boostrap Card -->
{% endblock %}
