{% extends 'base.html'%}

{% block title %} {{post.title_tag}} {% endblock %}

{% block content %}
<div class = "container" >
    <div class="row">
    <h1 class="post-title"> {{ post.title }}</h1>
    <small>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a class="btn btn-warning"href="{% url 'update-post' post.pk %}"> Edit</a>
                <a class="btn btn-danger"href="{% url 'delete-post' post.pk %}"> Delete</a></small>
                <br/>
            {% endif %}
        {% endif %}
        <br/>
    <small> By: {{ post.author.first_name }} - {{ post.post_date }}</small>
    <br/><br/>
        <!-- The featured image -->
        <img src="{{ post.featured_image.url }}" width="700px" height="500px">
        <br/><br/>

    <br/><br/>
    <div class="post-body">
        {{ post.body|safe }}
    </div>
    <br/><br/>
    <hr>
    </div>
</div>
<div class="button">
    <a class="btn btn-dark " href="{% url 'home' %}">Back</a>
</div>
    <br/>
    <br/>
<div class = "container" >
    <div class="row">
    <!-- Comments Section -->
    <h2> Comments...</h2>
    {% if not post.comments.all %}
        There are no comments yet. <a href="#">Add One</a>
    {% else %}
        {% for comment in post.comments.all %}
            <strong>
                {{ comment.name }} | 
                {{ comment.date_added }} 
            </strong>
            <br/> <br/>
            {{ comment.body }}
            
        {% endfor %}
    {% endif %}
    <br/><br/>
</div>
</div>
{% endblock %}

