{% extends 'base.html' %}
{% block title %}Donegal Courts | Edit Blog Post{% endblock %}
{% block content %}
<div class = "container">
    <div class="row">
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
<!-- Update Post Form -->
                <div class="form-group">
                    <form id="edit-post" method="POST">
                        <br/><br/>
                            <h1>Update this Blog Post</h1>
                                {%csrf_token%}
                                {{ form.media }}
                                {{ form.as_p }}
                        <button class="btn btn-dark">Post Edit</button>
                            <a class="btn btn-dark" href="{% url 'home' %}" aria-label="home link">Retrun to the Home Page</a> 
                       <br/><br/>
                    </form>
                </div>   
<!-- End Update Post Form -->
            {% else %}
            <p> You are not allowed to edit a blog post.</p>
            {% endif %}
        {% else %}
            <p> You are not allowed to edit a blog post.</p>
        {% endif %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="https://malsup.github.io/jquery.form.js"></script> 

<script> 
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        // bind 'form' and provide a simple callback function 
        $('#edit-post').ajaxForm(function() { 
            alert("This post has been updated!"); 
        }); 
    }); 
</script> 
{% endblock %}